<div class="list-container">
  <div class="card-group">
    <div *ngFor="let city of cities" style="margin:10px">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" [src]="city.image ? city.image.web : 'src/assets/images/no-image.png'"
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{city.matching_full_name}}</h5>
          <p class="card-text">Local time : {{city.localTime | date : 'MM/dd/yyyy hh:mm a'}}</p>
          <button (click)="weatherView(ModalView, city)" class="btn btn-primary">Weather view</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #ModalView let-modal let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-body">
      <app-weather-view [city]="cityModal"></app-weather-view>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c()">Close</button>
    </div>
  </div>
</ng-template>