<div class="list-container">
  <div class="card-group">
    <div *ngFor="let city of cities" style="margin:10px">
      <div class="card" style="width: 18rem;">
        <img *ngIf="city.image" class="card-img-top" [src]="city.image.web" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{city.matching_full_name}}</h5>
          <p class="card-text">Local time : {{city.localTime | date : 'MM/dd/yyyy hh:mm a'}}</p>
          <button (click)="weatherView(ModalView, city)" class="btn btn-primary">Weather view</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #ModalView let-modal>
  <app-weather-view [city]="cityModal"></app-weather-view>
</ng-template>